<div class="movie-hero-wrapper" [ngClass]="contentDirection">
  <div class="image-wrapper"></div>
  <div class="content-wrapper">
    <h2 class="movie-hero-title">{{ title }}</h2>
    <section>Title:</section>
    <section>Rating:</section>
    <section>
      Review:
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quis
        nostrum soluta qui, omnis quod, porro distinctio numquam necessitatibus
        ad deleniti dolor dolore veritatis voluptatem sed maiores possimus
        aperiam aspernatur repudiandae. Ipsam omnis numquam at facere
        consectetur illo, reiciendis culpa cum labore nobis inventore dolorem
        maxime voluptatem repudiandae aperiam distinctio beatae quis quasi
        repellendus aspernatur? Natus incidunt blanditiis omnis illum nemo neque
        repudiandae eum, nesciunt iusto nisi corrupti molestiae ipsa cum
        corporis facilis quibusdam aliquam ab tempora reiciendis voluptatum!
        Cumque praesentium reprehenderit molestiae, ipsum nesciunt officia quia
        et architecto earum distinctio asperiores, repudiandae accusantium
        itaque error tempore, quidem mollitia deleniti.
      </span>
    </section>
  </div>
</div>
